html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
    background-color: #fafafa;
}
footer {
    padding: 30px 0;
}
.well {
    background-color: #ffffff;
}
.time {
    color: rgb(175,175,175);
    border-top: 1px solid rgb(220,220,220);
    padding: 10px;
}

.readmore {
    margin-right:8px;
}
.likebtn {
    margin-left: 8px;
}

.short {
    line-height: 1.5;
    height:9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment {
    position: relative;
}

.like {
    position: relative;
    color: rgb(175,175,175);
}

.glyphicon { margin-right:10px; }
.panel-nopadding { padding:0px; }
.panel-nopadding table tr td { padding-left: 15px }
.panel-nopadding .table {margin-bottom: 0px; }

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
